[data-theme="zh-CN"] {

}

[data-theme="en-US"] {

}

[data-theme="jp-JP"] {

}

[data-theme="Mode 1"] {

}

[data-theme="Mode 1"] {
  --slate-50: rgba(248, 250, 252, 100%);
  --slate-100: rgba(241, 245, 249, 100%);
  --slate-200: rgba(226, 232, 240, 100%);
  --slate-300: rgba(203, 213, 225, 100%);
  --slate-400: rgba(148, 163, 184, 100%);
  --slate-500: rgba(100, 116, 139, 100%);
  --slate-600: rgba(71, 85, 105, 100%);
  --slate-700: rgba(51, 65, 85, 100%);
  --slate-800: rgba(30, 41, 59, 100%);
  --slate-900: rgba(15, 23, 42, 100%);
  --slate-950: rgba(2, 6, 23, 100%);
  --gray-50: rgba(249, 250, 251, 100%);
  --gray-100: rgba(243, 244, 246, 100%);
  --gray-200: rgba(229, 231, 235, 100%);
  --gray-300: rgba(209, 213, 219, 100%);
  --gray-400: rgba(156, 163, 175, 100%);
  --gray-500: rgba(107, 114, 128, 100%);
  --gray-600: rgba(75, 85, 99, 100%);
  --gray-700: rgba(55, 65, 81, 100%);
  --gray-800: rgba(31, 41, 55, 100%);
  --gray-900: rgba(17, 24, 39, 100%);
  --gray-950: rgba(3, 7, 18, 100%);
  --zinc-50: rgba(250, 250, 250, 100%);
  --zinc-100: rgba(244, 244, 245, 100%);
  --zinc-200: rgba(228, 228, 231, 100%);
  --zinc-300: rgba(212, 212, 216, 100%);
  --zinc-400: rgba(161, 161, 170, 100%);
  --zinc-500: rgba(113, 113, 122, 100%);
  --zinc-600: rgba(82, 82, 91, 100%);
  --zinc-700: rgba(63, 63, 70, 100%);
  --zinc-800: rgba(39, 39, 42, 100%);
  --zinc-900: rgba(24, 24, 27, 100%);
  --zinc-950: rgba(9, 9, 11, 100%);
  --neutral-50: rgba(250, 250, 250, 100%);
  --neutral-100: rgba(245, 245, 245, 100%);
  --neutral-200: rgba(229, 229, 229, 100%);
  --neutral-300: rgba(212, 212, 212, 100%);
  --neutral-400: rgba(163, 163, 163, 100%);
  --neutral-500: rgba(115, 115, 115, 100%);
  --neutral-600: rgba(82, 82, 82, 100%);
  --neutral-700: rgba(64, 64, 64, 100%);
  --neutral-800: rgba(38, 38, 38, 100%);
  --neutral-900: rgba(23, 23, 23, 100%);
  --neutral-950: rgba(10, 10, 10, 100%);
  --stone-50: rgba(250, 250, 249, 100%);
  --stone-100: rgba(245, 245, 244, 100%);
  --stone-200: rgba(231, 229, 228, 100%);
  --stone-300: rgba(214, 211, 209, 100%);
  --stone-400: rgba(168, 162, 158, 100%);
  --stone-500: rgba(120, 113, 108, 100%);
  --stone-600: rgba(87, 83, 78, 100%);
  --stone-700: rgba(68, 64, 60, 100%);
  --stone-800: rgba(41, 37, 36, 100%);
  --stone-900: rgba(28, 25, 23, 100%);
  --stone-950: rgba(12, 10, 9, 100%);
  --red-50: rgba(254, 242, 242, 100%);
  --red-100: rgba(254, 226, 226, 100%);
  --red-200: rgba(254, 202, 202, 100%);
  --red-300: rgba(252, 165, 165, 100%);
  --red-400: rgba(248, 113, 113, 100%);
  --red-500: rgba(239, 68, 68, 100%);
  --red-600: rgba(220, 38, 38, 100%);
  --red-700: rgba(185, 28, 28, 100%);
  --red-800: rgba(153, 27, 27, 100%);
  --red-900: rgba(127, 29, 29, 100%);
  --red-950: rgba(69, 10, 10, 100%);
  --orange-50: rgba(255, 247, 237, 100%);
  --orange-100: rgba(255, 237, 213, 100%);
  --orange-200: rgba(254, 215, 170, 100%);
  --orange-300: rgba(253, 186, 116, 100%);
  --orange-400: rgba(251, 146, 60, 100%);
  --orange-500: rgba(249, 115, 22, 100%);
  --orange-600: rgba(234, 88, 12, 100%);
  --orange-700: rgba(194, 65, 12, 100%);
  --orange-800: rgba(154, 52, 18, 100%);
  --orange-900: rgba(124, 45, 18, 100%);
  --orange-950: rgba(67, 20, 7, 100%);
  --amber-50: rgba(255, 251, 235, 100%);
  --amber-100: rgba(254, 243, 199, 100%);
  --amber-200: rgba(253, 230, 138, 100%);
  --amber-300: rgba(252, 211, 77, 100%);
  --amber-400: rgba(251, 191, 36, 100%);
  --amber-500: rgba(245, 158, 11, 100%);
  --amber-600: rgba(217, 119, 6, 100%);
  --amber-700: rgba(180, 83, 9, 100%);
  --amber-800: rgba(146, 64, 14, 100%);
  --amber-900: rgba(120, 53, 15, 100%);
  --amber-950: rgba(69, 26, 3, 100%);
  --yellow-50: rgba(254, 252, 232, 100%);
  --yellow-100: rgba(254, 249, 195, 100%);
  --yellow-200: rgba(254, 240, 138, 100%);
  --yellow-300: rgba(253, 224, 71, 100%);
  --yellow-400: rgba(250, 204, 21, 100%);
  --yellow-500: rgba(234, 179, 8, 100%);
  --yellow-600: rgba(202, 138, 4, 100%);
  --yellow-700: rgba(161, 98, 7, 100%);
  --yellow-800: rgba(133, 77, 14, 100%);
  --yellow-900: rgba(113, 63, 18, 100%);
  --yellow-950: rgba(66, 32, 6, 100%);
  --lime-50: rgba(247, 254, 231, 100%);
  --lime-100: rgba(236, 252, 203, 100%);
  --lime-200: rgba(217, 249, 157, 100%);
  --lime-300: rgba(190, 242, 100, 100%);
  --lime-400: rgba(163, 230, 53, 100%);
  --lime-500: rgba(132, 204, 22, 100%);
  --lime-600: rgba(101, 163, 13, 100%);
  --lime-700: rgba(77, 124, 15, 100%);
  --lime-800: rgba(63, 98, 18, 100%);
  --lime-900: rgba(54, 83, 20, 100%);
  --lime-950: rgba(26, 46, 5, 100%);
  --green-50: rgba(240, 253, 244, 100%);
  --green-100: rgba(220, 252, 231, 100%);
  --green-200: rgba(187, 247, 208, 100%);
  --green-300: rgba(134, 239, 172, 100%);
  --green-400: rgba(74, 222, 128, 100%);
  --green-500: rgba(34, 197, 94, 100%);
  --green-600: rgba(22, 163, 74, 100%);
  --green-700: rgba(21, 128, 61, 100%);
  --green-800: rgba(22, 101, 52, 100%);
  --green-900: rgba(20, 83, 45, 100%);
  --green-950: rgba(5, 46, 22, 100%);
  --emerald-50: rgba(236, 253, 245, 100%);
  --emerald-100: rgba(209, 250, 229, 100%);
  --emerald-200: rgba(167, 243, 208, 100%);
  --emerald-300: rgba(110, 231, 183, 100%);
  --emerald-400: rgba(52, 211, 153, 100%);
  --emerald-500: rgba(16, 185, 129, 100%);
  --emerald-600: rgba(5, 150, 105, 100%);
  --emerald-700: rgba(4, 120, 87, 100%);
  --emerald-800: rgba(6, 95, 70, 100%);
  --emerald-900: rgba(6, 78, 59, 100%);
  --emerald-950: rgba(2, 44, 34, 100%);
  --teal-50: rgba(240, 253, 250, 100%);
  --teal-100: rgba(204, 251, 241, 100%);
  --teal-200: rgba(153, 246, 228, 100%);
  --teal-300: rgba(94, 234, 212, 100%);
  --teal-400: rgba(45, 212, 191, 100%);
  --teal-500: rgba(20, 184, 166, 100%);
  --teal-600: rgba(13, 148, 136, 100%);
  --teal-700: rgba(15, 118, 110, 100%);
  --teal-800: rgba(17, 94, 89, 100%);
  --teal-900: rgba(19, 78, 74, 100%);
  --teal-950: rgba(4, 47, 46, 100%);
  --cyan-50: rgba(236, 254, 255, 100%);
  --cyan-100: rgba(207, 250, 254, 100%);
  --cyan-200: rgba(165, 243, 252, 100%);
  --cyan-300: rgba(103, 232, 249, 100%);
  --cyan-400: rgba(34, 211, 238, 100%);
  --cyan-500: rgba(6, 182, 212, 100%);
  --cyan-600: rgba(8, 145, 178, 100%);
  --cyan-700: rgba(14, 116, 144, 100%);
  --cyan-800: rgba(21, 94, 117, 100%);
  --cyan-900: rgba(22, 78, 99, 100%);
  --cyan-950: rgba(8, 51, 68, 100%);
  --sky-50: rgba(240, 249, 255, 100%);
  --sky-100: rgba(224, 242, 254, 100%);
  --sky-200: rgba(186, 230, 253, 100%);
  --sky-300: rgba(125, 211, 252, 100%);
  --sky-400: rgba(56, 189, 248, 100%);
  --sky-500: rgba(14, 165, 233, 100%);
  --sky-600: rgba(2, 132, 199, 100%);
  --sky-700: rgba(3, 105, 161, 100%);
  --sky-800: rgba(7, 89, 133, 100%);
  --sky-900: rgba(12, 74, 110, 100%);
  --sky-950: rgba(8, 47, 73, 100%);
  --blue-50: rgba(239, 246, 255, 100%);
  --blue-100: rgba(219, 234, 254, 100%);
  --blue-200: rgba(191, 219, 254, 100%);
  --blue-300: rgba(147, 197, 253, 100%);
  --blue-400: rgba(96, 165, 250, 100%);
  --blue-500: rgba(59, 130, 246, 100%);
  --blue-600: rgba(37, 99, 235, 100%);
  --blue-700: rgba(29, 78, 216, 100%);
  --blue-800: rgba(30, 64, 175, 100%);
  --blue-900: rgba(30, 58, 138, 100%);
  --blue-950: rgba(23, 37, 84, 100%);
  --indigo-50: rgba(238, 242, 255, 100%);
  --indigo-100: rgba(224, 231, 255, 100%);
  --indigo-200: rgba(199, 210, 254, 100%);
  --indigo-300: rgba(165, 180, 252, 100%);
  --indigo-400: rgba(129, 140, 248, 100%);
  --indigo-500: rgba(99, 102, 241, 100%);
  --indigo-600: rgba(79, 70, 229, 100%);
  --indigo-700: rgba(67, 56, 202, 100%);
  --indigo-800: rgba(55, 48, 163, 100%);
  --indigo-900: rgba(49, 46, 129, 100%);
  --indigo-950: rgba(30, 27, 75, 100%);
  --violet-50: rgba(245, 243, 255, 100%);
  --violet-100: rgba(237, 233, 254, 100%);
  --violet-200: rgba(221, 214, 254, 100%);
  --violet-300: rgba(196, 181, 253, 100%);
  --violet-400: rgba(167, 139, 250, 100%);
  --violet-500: rgba(139, 92, 246, 100%);
  --violet-600: rgba(124, 58, 237, 100%);
  --violet-700: rgba(109, 40, 217, 100%);
  --violet-800: rgba(91, 33, 182, 100%);
  --violet-900: rgba(76, 29, 149, 100%);
  --violet-950: rgba(46, 16, 101, 100%);
  --purple-50: rgba(250, 245, 255, 100%);
  --purple-100: rgba(243, 232, 255, 100%);
  --purple-200: rgba(233, 213, 255, 100%);
  --purple-300: rgba(216, 180, 254, 100%);
  --purple-400: rgba(192, 132, 252, 100%);
  --purple-500: rgba(168, 85, 247, 100%);
  --purple-600: rgba(147, 51, 234, 100%);
  --purple-700: rgba(126, 34, 206, 100%);
  --purple-800: rgba(107, 33, 168, 100%);
  --purple-900: rgba(88, 28, 135, 100%);
  --purple-950: rgba(59, 7, 100, 100%);
  --fuchsia-50: rgba(253, 244, 255, 100%);
  --fuchsia-100: rgba(250, 232, 255, 100%);
  --fuchsia-200: rgba(245, 208, 254, 100%);
  --fuchsia-300: rgba(240, 171, 252, 100%);
  --fuchsia-400: rgba(232, 121, 249, 100%);
  --fuchsia-500: rgba(217, 70, 239, 100%);
  --fuchsia-600: rgba(192, 38, 211, 100%);
  --fuchsia-700: rgba(162, 28, 175, 100%);
  --fuchsia-800: rgba(134, 25, 143, 100%);
  --fuchsia-900: rgba(112, 26, 117, 100%);
  --fuchsia-950: rgba(74, 4, 78, 100%);
  --pink-50: rgba(253, 242, 248, 100%);
  --pink-100: rgba(252, 231, 243, 100%);
  --pink-200: rgba(251, 207, 232, 100%);
  --pink-300: rgba(249, 168, 212, 100%);
  --pink-400: rgba(244, 114, 182, 100%);
  --pink-500: rgba(236, 72, 153, 100%);
  --pink-600: rgba(219, 39, 119, 100%);
  --pink-700: rgba(190, 24, 93, 100%);
  --pink-800: rgba(157, 23, 77, 100%);
  --pink-900: rgba(131, 24, 67, 100%);
  --pink-950: rgba(80, 7, 36, 100%);
  --rose-50: rgba(255, 241, 242, 100%);
  --rose-100: rgba(255, 228, 230, 100%);
  --rose-200: rgba(254, 205, 211, 100%);
  --rose-300: rgba(253, 164, 175, 100%);
  --rose-400: rgba(251, 113, 133, 100%);
  --rose-500: rgba(244, 63, 94, 100%);
  --rose-600: rgba(225, 29, 72, 100%);
  --rose-700: rgba(190, 18, 60, 100%);
  --rose-800: rgba(159, 18, 57, 100%);
  --rose-900: rgba(136, 19, 55, 100%);
  --rose-950: rgba(76, 5, 25, 100%);
  --visualization-stroke: rgba(255, 255, 255, 100%);
  --color: rgba(255, 255, 255, 100%);
}

[data-theme="Mode 2"] {
  --slate-50: rgba(248, 250, 252, 100%);
  --slate-100: rgba(241, 245, 249, 100%);
  --slate-200: rgba(226, 232, 240, 100%);
  --slate-300: rgba(203, 213, 225, 100%);
  --slate-400: rgba(148, 163, 184, 100%);
  --slate-500: rgba(100, 116, 139, 100%);
  --slate-600: rgba(71, 85, 105, 100%);
  --slate-700: rgba(51, 65, 85, 100%);
  --slate-800: rgba(30, 41, 59, 100%);
  --slate-900: rgba(15, 23, 42, 100%);
  --slate-950: rgba(2, 6, 23, 100%);
  --gray-50: rgba(249, 250, 251, 100%);
  --gray-100: rgba(243, 244, 246, 100%);
  --gray-200: rgba(229, 231, 235, 100%);
  --gray-300: rgba(209, 213, 219, 100%);
  --gray-400: rgba(156, 163, 175, 100%);
  --gray-500: rgba(107, 114, 128, 100%);
  --gray-600: rgba(75, 85, 99, 100%);
  --gray-700: rgba(55, 65, 81, 100%);
  --gray-800: rgba(31, 41, 55, 100%);
  --gray-900: rgba(17, 24, 39, 100%);
  --gray-950: rgba(3, 7, 18, 100%);
  --zinc-50: rgba(250, 250, 250, 100%);
  --zinc-100: rgba(244, 244, 245, 100%);
  --zinc-200: rgba(228, 228, 231, 100%);
  --zinc-300: rgba(212, 212, 216, 100%);
  --zinc-400: rgba(161, 161, 170, 100%);
  --zinc-500: rgba(113, 113, 122, 100%);
  --zinc-600: rgba(82, 82, 91, 100%);
  --zinc-700: rgba(63, 63, 70, 100%);
  --zinc-800: rgba(39, 39, 42, 100%);
  --zinc-900: rgba(24, 24, 27, 100%);
  --zinc-950: rgba(9, 9, 11, 100%);
  --neutral-50: rgba(250, 250, 250, 100%);
  --neutral-100: rgba(245, 245, 245, 100%);
  --neutral-200: rgba(229, 229, 229, 100%);
  --neutral-300: rgba(212, 212, 212, 100%);
  --neutral-400: rgba(163, 163, 163, 100%);
  --neutral-500: rgba(115, 115, 115, 100%);
  --neutral-600: rgba(82, 82, 82, 100%);
  --neutral-700: rgba(64, 64, 64, 100%);
  --neutral-800: rgba(38, 38, 38, 100%);
  --neutral-900: rgba(23, 23, 23, 100%);
  --neutral-950: rgba(10, 10, 10, 100%);
  --stone-50: rgba(250, 250, 249, 100%);
  --stone-100: rgba(245, 245, 244, 100%);
  --stone-200: rgba(231, 229, 228, 100%);
  --stone-300: rgba(214, 211, 209, 100%);
  --stone-400: rgba(168, 162, 158, 100%);
  --stone-500: rgba(120, 113, 108, 100%);
  --stone-600: rgba(87, 83, 78, 100%);
  --stone-700: rgba(68, 64, 60, 100%);
  --stone-800: rgba(41, 37, 36, 100%);
  --stone-900: rgba(28, 25, 23, 100%);
  --stone-950: rgba(12, 10, 9, 100%);
  --red-50: rgba(254, 242, 242, 100%);
  --red-100: rgba(254, 226, 226, 100%);
  --red-200: rgba(254, 202, 202, 100%);
  --red-300: rgba(252, 165, 165, 100%);
  --red-400: rgba(248, 113, 113, 100%);
  --red-500: rgba(239, 68, 68, 100%);
  --red-600: rgba(220, 38, 38, 100%);
  --red-700: rgba(185, 28, 28, 100%);
  --red-800: rgba(153, 27, 27, 100%);
  --red-900: rgba(127, 29, 29, 100%);
  --red-950: rgba(69, 10, 10, 100%);
  --orange-50: rgba(255, 247, 237, 100%);
  --orange-100: rgba(255, 237, 213, 100%);
  --orange-200: rgba(254, 215, 170, 100%);
  --orange-300: rgba(253, 186, 116, 100%);
  --orange-400: rgba(251, 146, 60, 100%);
  --orange-500: rgba(249, 115, 22, 100%);
  --orange-600: rgba(234, 88, 12, 100%);
  --orange-700: rgba(194, 65, 12, 100%);
  --orange-800: rgba(154, 52, 18, 100%);
  --orange-900: rgba(124, 45, 18, 100%);
  --orange-950: rgba(67, 20, 7, 100%);
  --amber-50: rgba(255, 251, 235, 100%);
  --amber-100: rgba(254, 243, 199, 100%);
  --amber-200: rgba(253, 230, 138, 100%);
  --amber-300: rgba(252, 211, 77, 100%);
  --amber-400: rgba(251, 191, 36, 100%);
  --amber-500: rgba(245, 158, 11, 100%);
  --amber-600: rgba(217, 119, 6, 100%);
  --amber-700: rgba(180, 83, 9, 100%);
  --amber-800: rgba(146, 64, 14, 100%);
  --amber-900: rgba(120, 53, 15, 100%);
  --amber-950: rgba(69, 26, 3, 100%);
  --yellow-50: rgba(254, 252, 232, 100%);
  --yellow-100: rgba(254, 249, 195, 100%);
  --yellow-200: rgba(254, 240, 138, 100%);
  --yellow-300: rgba(253, 224, 71, 100%);
  --yellow-400: rgba(250, 204, 21, 100%);
  --yellow-500: rgba(234, 179, 8, 100%);
  --yellow-600: rgba(202, 138, 4, 100%);
  --yellow-700: rgba(161, 98, 7, 100%);
  --yellow-800: rgba(133, 77, 14, 100%);
  --yellow-900: rgba(113, 63, 18, 100%);
  --yellow-950: rgba(66, 32, 6, 100%);
  --lime-50: rgba(247, 254, 231, 100%);
  --lime-100: rgba(236, 252, 203, 100%);
  --lime-200: rgba(217, 249, 157, 100%);
  --lime-300: rgba(190, 242, 100, 100%);
  --lime-400: rgba(163, 230, 53, 100%);
  --lime-500: rgba(132, 204, 22, 100%);
  --lime-600: rgba(101, 163, 13, 100%);
  --lime-700: rgba(77, 124, 15, 100%);
  --lime-800: rgba(63, 98, 18, 100%);
  --lime-900: rgba(54, 83, 20, 100%);
  --lime-950: rgba(26, 46, 5, 100%);
  --green-50: rgba(240, 253, 244, 100%);
  --green-100: rgba(220, 252, 231, 100%);
  --green-200: rgba(187, 247, 208, 100%);
  --green-300: rgba(134, 239, 172, 100%);
  --green-400: rgba(74, 222, 128, 100%);
  --green-500: rgba(34, 197, 94, 100%);
  --green-600: rgba(22, 163, 74, 100%);
  --green-700: rgba(21, 128, 61, 100%);
  --green-800: rgba(22, 101, 52, 100%);
  --green-900: rgba(20, 83, 45, 100%);
  --green-950: rgba(5, 46, 22, 100%);
  --emerald-50: rgba(236, 253, 245, 100%);
  --emerald-100: rgba(209, 250, 229, 100%);
  --emerald-200: rgba(167, 243, 208, 100%);
  --emerald-300: rgba(110, 231, 183, 100%);
  --emerald-400: rgba(52, 211, 153, 100%);
  --emerald-500: rgba(16, 185, 129, 100%);
  --emerald-600: rgba(5, 150, 105, 100%);
  --emerald-700: rgba(4, 120, 87, 100%);
  --emerald-800: rgba(6, 95, 70, 100%);
  --emerald-900: rgba(6, 78, 59, 100%);
  --emerald-950: rgba(2, 44, 34, 100%);
  --teal-50: rgba(240, 253, 250, 100%);
  --teal-100: rgba(204, 251, 241, 100%);
  --teal-200: rgba(153, 246, 228, 100%);
  --teal-300: rgba(94, 234, 212, 100%);
  --teal-400: rgba(45, 212, 191, 100%);
  --teal-500: rgba(20, 184, 166, 100%);
  --teal-600: rgba(13, 148, 136, 100%);
  --teal-700: rgba(15, 118, 110, 100%);
  --teal-800: rgba(17, 94, 89, 100%);
  --teal-900: rgba(19, 78, 74, 100%);
  --teal-950: rgba(4, 47, 46, 100%);
  --cyan-50: rgba(236, 254, 255, 100%);
  --cyan-100: rgba(207, 250, 254, 100%);
  --cyan-200: rgba(165, 243, 252, 100%);
  --cyan-300: rgba(103, 232, 249, 100%);
  --cyan-400: rgba(34, 211, 238, 100%);
  --cyan-500: rgba(6, 182, 212, 100%);
  --cyan-600: rgba(8, 145, 178, 100%);
  --cyan-700: rgba(14, 116, 144, 100%);
  --cyan-800: rgba(21, 94, 117, 100%);
  --cyan-900: rgba(22, 78, 99, 100%);
  --cyan-950: rgba(8, 51, 68, 100%);
  --sky-50: rgba(240, 249, 255, 100%);
  --sky-100: rgba(224, 242, 254, 100%);
  --sky-200: rgba(186, 230, 253, 100%);
  --sky-300: rgba(125, 211, 252, 100%);
  --sky-400: rgba(56, 189, 248, 100%);
  --sky-500: rgba(14, 165, 233, 100%);
  --sky-600: rgba(2, 132, 199, 100%);
  --sky-700: rgba(3, 105, 161, 100%);
  --sky-800: rgba(7, 89, 133, 100%);
  --sky-900: rgba(12, 74, 110, 100%);
  --sky-950: rgba(8, 47, 73, 100%);
  --blue-50: rgba(239, 246, 255, 100%);
  --blue-100: rgba(219, 234, 254, 100%);
  --blue-200: rgba(191, 219, 254, 100%);
  --blue-300: rgba(147, 197, 253, 100%);
  --blue-400: rgba(96, 165, 250, 100%);
  --blue-500: rgba(59, 130, 246, 100%);
  --blue-600: rgba(37, 99, 235, 100%);
  --blue-700: rgba(29, 78, 216, 100%);
  --blue-800: rgba(30, 64, 175, 100%);
  --blue-900: rgba(30, 58, 138, 100%);
  --blue-950: rgba(23, 37, 84, 100%);
  --indigo-50: rgba(238, 242, 255, 100%);
  --indigo-100: rgba(224, 231, 255, 100%);
  --indigo-200: rgba(199, 210, 254, 100%);
  --indigo-300: rgba(165, 180, 252, 100%);
  --indigo-400: rgba(129, 140, 248, 100%);
  --indigo-500: rgba(99, 102, 241, 100%);
  --indigo-600: rgba(79, 70, 229, 100%);
  --indigo-700: rgba(67, 56, 202, 100%);
  --indigo-800: rgba(55, 48, 163, 100%);
  --indigo-900: rgba(49, 46, 129, 100%);
  --indigo-950: rgba(30, 27, 75, 100%);
  --violet-50: rgba(245, 243, 255, 100%);
  --violet-100: rgba(237, 233, 254, 100%);
  --violet-200: rgba(221, 214, 254, 100%);
  --violet-300: rgba(196, 181, 253, 100%);
  --violet-400: rgba(167, 139, 250, 100%);
  --violet-500: rgba(139, 92, 246, 100%);
  --violet-600: rgba(124, 58, 237, 100%);
  --violet-700: rgba(109, 40, 217, 100%);
  --violet-800: rgba(91, 33, 182, 100%);
  --violet-900: rgba(76, 29, 149, 100%);
  --violet-950: rgba(46, 16, 101, 100%);
  --purple-50: rgba(250, 245, 255, 100%);
  --purple-100: rgba(243, 232, 255, 100%);
  --purple-200: rgba(233, 213, 255, 100%);
  --purple-300: rgba(216, 180, 254, 100%);
  --purple-400: rgba(192, 132, 252, 100%);
  --purple-500: rgba(168, 85, 247, 100%);
  --purple-600: rgba(147, 51, 234, 100%);
  --purple-700: rgba(126, 34, 206, 100%);
  --purple-800: rgba(107, 33, 168, 100%);
  --purple-900: rgba(88, 28, 135, 100%);
  --purple-950: rgba(59, 7, 100, 100%);
  --fuchsia-50: rgba(253, 244, 255, 100%);
  --fuchsia-100: rgba(250, 232, 255, 100%);
  --fuchsia-200: rgba(245, 208, 254, 100%);
  --fuchsia-300: rgba(240, 171, 252, 100%);
  --fuchsia-400: rgba(232, 121, 249, 100%);
  --fuchsia-500: rgba(217, 70, 239, 100%);
  --fuchsia-600: rgba(192, 38, 211, 100%);
  --fuchsia-700: rgba(162, 28, 175, 100%);
  --fuchsia-800: rgba(134, 25, 143, 100%);
  --fuchsia-900: rgba(112, 26, 117, 100%);
  --fuchsia-950: rgba(74, 4, 78, 100%);
  --pink-50: rgba(253, 242, 248, 100%);
  --pink-100: rgba(252, 231, 243, 100%);
  --pink-200: rgba(251, 207, 232, 100%);
  --pink-300: rgba(249, 168, 212, 100%);
  --pink-400: rgba(244, 114, 182, 100%);
  --pink-500: rgba(236, 72, 153, 100%);
  --pink-600: rgba(219, 39, 119, 100%);
  --pink-700: rgba(190, 24, 93, 100%);
  --pink-800: rgba(157, 23, 77, 100%);
  --pink-900: rgba(131, 24, 67, 100%);
  --pink-950: rgba(80, 7, 36, 100%);
  --rose-50: rgba(255, 241, 242, 100%);
  --rose-100: rgba(255, 228, 230, 100%);
  --rose-200: rgba(254, 205, 211, 100%);
  --rose-300: rgba(253, 164, 175, 100%);
  --rose-400: rgba(251, 113, 133, 100%);
  --rose-500: rgba(244, 63, 94, 100%);
  --rose-600: rgba(225, 29, 72, 100%);
  --rose-700: rgba(190, 18, 60, 100%);
  --rose-800: rgba(159, 18, 57, 100%);
  --rose-900: rgba(136, 19, 55, 100%);
  --rose-950: rgba(76, 5, 25, 100%);
  --visualization-stroke: rgba(255, 255, 255, 100%);
  --color: rgba(255, 255, 255, 100%);
}

[data-theme="Legacy Light"] {
  --brand: rgba(255, 255, 255, 100%);
  --color: rgba(255, 255, 255, 100%);
}

[data-theme="Light"] {
  --brand: rgba(152, 248, 29, 100%);
  --color: rgba(255, 255, 255, 100%);
}

[data-theme="Legacy Dark"] {
  --brand: rgba(0, 209, 255, 100%);
  --color: rgba(255, 255, 255, 100%);
}

[data-theme="Dark"] {
  --brand: var(--text);
  --color: rgba(255, 255, 255, 100%);
}

[data-theme="Light"] {
  --color: rgba(255, 255, 255, 100%);
}

[data-theme="Dark"] {
  --color: rgba(0, 0, 0, 100%);
}

[data-theme="Legacy Light"] {
  --color: rgba(255, 255, 255, 100%);
}

[data-theme="Legacy Dark"] {
  --color: rgba(0, 0, 0, 100%);
}

[data-theme="Light"] {
  --bg-success-tertiary: var(--border);
  --bg-success: rgba(20, 174, 92, 100%);
  --bg-success-secondary: rgba(0, 128, 67, 100%);
  --bg-danger: rgba(242, 72, 34, 100%);
  --bg-danger-secondary: rgba(189, 41, 22, 100%);
  --bg-danger-tertiary: rgba(255, 226, 224, 100%);
  --border: rgba(230, 230, 230, 100%);
  --text: rgba(0, 0, 0, 90%);
  --text-secondary: rgba(0, 0, 0, 50%);
  --bg-secondary: rgba(245, 245, 245, 100%);
  --border-strong: rgba(44, 44, 44, 100%);
}

[data-theme="Dark"] {
  --bg-success-tertiary: rgba(207, 247, 211, 100%);
  --bg-success: rgba(20, 174, 92, 100%);
  --bg-success-secondary: rgba(0, 128, 67, 100%);
  --bg-danger: rgba(242, 72, 34, 100%);
  --bg-danger-secondary: rgba(189, 41, 22, 100%);
  --bg-danger-tertiary: rgba(255, 226, 224, 100%);
  --border: rgba(230, 230, 230, 100%);
  --text: rgba(0, 0, 0, 90%);
  --text-secondary: rgba(0, 0, 0, 50%);
  --bg-secondary: rgba(245, 245, 245, 100%);
  --border-strong: rgba(44, 44, 44, 100%);
}
