[data-theme="Light"] {
  --bg-success-tertiary: var(--text);
  --bg-success: hsl(148, 54%, 76%);
  --bg-success-secondary: hsl(151, 100%, 25%);
  --bg-danger: hsl(11, 89%, 54%);
  --bg-danger-secondary: hsl(7, 79%, 41%);
  --bg-danger-tertiary: hsl(4, 100%, 94%);
  --text: hsla(0, 0%, 0%, 0.90);
  --text-secondary: hsla(0, 0%, 0%, 0.50);
  --bg-secondary: hsl(0, 0%, 96%);
  --border-strong: hsl(0, 0%, 17%);
  --bg: hsl(0, 0%, 100%);
  --bg-brand: hsl(205, 100%, 53%);
  --text-success: hsl(152, 100%, 30%);
  --bg-tertiary: hsl(0, 0%, 90%);
}

[data-theme="Dark"] {
  --bg-success-tertiary: hsl(126, 71%, 89%);
  --bg-success: hsl(148, 79%, 38%);
  --bg-success-secondary: hsl(151, 100%, 25%);
  --bg-danger: hsl(11, 89%, 54%);
  --bg-danger-secondary: hsl(7, 79%, 41%);
  --bg-danger-tertiary: hsl(4, 100%, 94%);
  --border: hsl(0, 0%, 90%);
  --text: hsla(0, 0%, 0%, 0.90);
  --text-secondary: hsla(0, 0%, 0%, 0.50);
  --bg-secondary: hsl(0, 0%, 96%);
  --border-strong: hsl(0, 0%, 17%);
  --bg: hsl(0, 0%, 100%);
  --bg-brand: hsl(205, 90%, 48%);
  --text-success: hsl(152, 100%, 30%);
  --bg-tertiary: hsl(0, 0%, 90%);
}
